@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

div#downarrow {
  text-align: center;
  width: 1em;
  margin: auto;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2vh;
  background-color: transparent;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 4px;
  font-size: 30px;
  -webkit-text-stroke: 2px black;
}

html {
  background: linear-gradient(#ff4800, #0000ff);
  color: #f2f2f2;
}

body {
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 32px;
}

h1 {
  font-family: monospace;
  font-size: 86px;
  text-align: center;
  padding-top: 25vh;
  padding-bottom: 25vh;
}

h1.intro {
  font-family: monospace;
  font-size: 86px;
  text-align: center;
  padding-top: 25vh;
}


p.intro {
  font-family: 'Varela Round', sans-serif;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50vh;
}

article {
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  background: #252525;
  border: 4px solid #0f0f0f;
  border-radius: 16px;
  margin: auto;
  max-width: 75%;
  margin-bottom: 50px;
}

p {
  font-size: 18px;
  padding-bottom: 16px;
}

a {
  color: #00ff00;
  /* target: "_blank"; */
}

div#footer {
  padding-left: 64px;
  padding-right: 64px;
  min-width: 10%;
  max-width: 85%;
  background: linear-gradient(#252525, #111111);
  border: 4px solid #0f0f0f;
  border-radius: 16px;
  margin: auto;
}
